.calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.numpad{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 10px;
    grid-auto-columns: 1fr;
    background-color: #555A60;
    height: 60vh;
    border-radius: 0px 0px 20px 20px;
}


